body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.showOnMobile {
    display: none;
}

.list-title {
    color: #666666; 
    max-width: 1095px; 
    margin: 20px auto; 
    font-size: 24px; 
    margin-top: 20px; 
    margin-bottom: 40px;
}

.card-list {
    background-color: #F2F2F2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #666666;
    max-width: 1080px;
    margin: auto;
    margin-bottom: 16px;
}

.biggest-grade {
    margin-right: 208px;
    text-transform: uppercase;
    font-size: 12px;
}

.lowest-grade-title {
    text-transform: uppercase;
    font-size: 12px;
}

.manager {
    text-transform: uppercase; 
    margin-left: 95px; 
    margin-right: 210px;
    font-size: 12px;
}

.total-test {
    width: 72px; 
    text-transform: uppercase; 
    margin-right: 27px;
    font-size: 12px;
}

.avarage-user {
    width: 40px; 
    text-transform: uppercase;
    margin-right: 37px;
    font-size: 12px;
}

.highest-grade {
    width: 280px;
    font-size: 14px;
}

.lowest-grade {
    width: 280px;
    font-size: 14px;
}

.first-info {
    display: flex;
}

@media only screen and (max-width: 1095px) and (min-width: 905px) {
    .card-list {
        width: 882px;
        margin: 16px auto;
        display: flex;
        justify-content: space-around;
    }
    .titles {
        width: 882px !important;
        margin: auto;
        display: flex;
    }

    .manager {
        margin-left: 88px; 
        margin-right: 155px;
    }
    
    .total-test {
        margin-right: 10px;
    }
    
    .avarage {
        margin-right: 25px;
    }
    
    .biggest-grade {
        margin-right: 150px;
    }


    .name-list {
        width: 230px !important;
    }

    .amount-tests {
        margin-right: 35px;
    }

    .overall-average {
        margin-right: 35px;
    }

    .highest-grade {
        width: 225px;
    }

    .lowest-grade {
        width: 225px;
    }
    
}

@media only screen and (max-width: 905px)  {
    .card-list {
        display: block;
        width: 90%;
        margin: 16px auto;
        text-align: center;
        font-size: 16px !important;
    }
    .titles {
        display: none !important;
    }
    .first-info {
        display: block;
        margin-bottom: 10px;
    }
    .showOnMobile {
        display: contents;
        font-weight: 400px !important;
    }
    .amount-tests , .overall-average, .highest-grade, .lowest-grade {
        margin-top: 10px;
        font-size: 16px !important;
    }
    .user-img {
        margin-right: 0 !important;
    }

    .name-list {
        margin: auto;
    }

    .amount-tests {
        width: 100% !important;
    }

    .overall-average {
        width: 100% !important;
    }

    .highest-grade {
        width: 100% !important;
    }

    .lowest-grade {
        width: 100% !important;
    }

    

}

.user-img {
    margin-right: 24px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    background: #C4C4C4;
}

.titles {
    width: 1095px;
    display: flex;
    align-items: flex-end;
    margin: auto;
    margin-top: 40px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 16px;
}

.name-list {
    font-size: 16px;
    font-weight: 500;
    width: 280px;
}

.profission {
    font-size: 14px;
    margin: 6px 0;
}

.people {
    font-size: 14px;
}

.amount-tests, .overall-average {
    font-size: 18px;
}


.header {
    display: flex;
    justify-content: space-around;
    max-width: 950px;
    margin: 30px auto;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-header {
        margin-top: 10px;
    }
    .or {
        display: none;
    }
}



.flex-header {
    display: flex;
}

.btn-arrow {
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    display: flex-inline;
    justify-content: center;
    align-items: center;
}

.year {
    color: #848484;
    font-size: 24px;
    margin: 0 8px;
}

.nav-item {
    margin: 0;
    height: 35px;
    width: 84px;
    border: none;
    box-sizing: border-box;
    color: #5C5C5C;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
}

.nav-item-left {
    border: 1px solid #5C5C5C;
    border-radius: 6px 0px 0px 6px;
}

.nav-item-right {
    border-top: 1px solid #5C5C5C;
    border-bottom: 1px solid #5C5C5C;
    border-right: 1px solid #5C5C5C;
    border-radius: 0px 6px 6px 0px;
}

.nav-item-middle {
    border-top: 1px solid #5C5C5C;
    border-bottom: 1px solid #5C5C5C;
    border-right: 1px solid #5C5C5C;
    border-radius: 0;
}

.activate {
    background-color: #B3AEF9 !important;
    color: #3125D3 !important;
}

.font-bold {
    font-weight: bold;
}