body, table, th, tr {
    font-family: 'Roboto', sans-serif;
}

.title-list-page {
  display: flex;
  margin-left: 3vw;
  margin-top: 20px;
  color: #666666;
  font-size: 24px;
}

.card {
    background-color: #F2F2F2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #666666;
    margin-bottom: 16px;
}

tr, th, table {
    break-inside: avoid-column;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    padding: 8px;
  }


  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  table {
    border-collapse: separate !important;
    border-spacing: 0 8px !important;
  }

  .table-header {
    color: #666666;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  .user-img {
      border-radius: 50%;
      margin-right: 24px;
  }

  .name-list {
    font-size: 16px;
    color: #666666;
    display: block;
    font-weight: 500;
  }

  .profession {
    font-size: 14px;
    color: #666666;
    display: block;
  }

  .people {
      font-size: 14px;
      color: #666666;
      display: block;
  }

  .total-test {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
  }

  .avarage {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
  }

  .highest-grade {
    color: #666666;
    font-size: 14px;

  }

  .lowest-grade {
    color: #666666;
    font-size: 14px;

  }

  .header-page {
    display: flex;
    justify-content: space-around;
    max-width: 950px;
    margin: 30px auto;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .header-page {
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-header {
        margin-top: 10px;
    }
    .or {
        display: none;
    }
}



.flex-header {
    display: flex;
}

.btn-arrow {
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 6px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-page {
    color: #848484;
    font-size: 24px;
    margin: 0 8px;
}

.nav-item-page {
    margin: 0;
    height: 35px;
    width: 84px;
    border: none;
    box-sizing: border-box;
    color: #5C5C5C;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
}

.nav-item-left {
    border: 1px solid #5C5C5C;
    border-radius: 6px 0px 0px 6px;
}

.nav-item-right {
    border-top: 1px solid #5C5C5C;
    border-bottom: 1px solid #5C5C5C;
    border-right: 1px solid #5C5C5C;
    border-radius: 0px 6px 6px 0px;
}

.nav-item-middle {
    border-top: 1px solid #5C5C5C;
    border-bottom: 1px solid #5C5C5C;
    border-right: 1px solid #5C5C5C;
    border-radius: 0;
}

.activate-btn {
  background-color: #B3AEF9 !important;
  color: #3125D3 !important;
}